<div class="t-container">


    <div class="roundHeaders">
        <h4 class="round-header">Round 16</h4>
        <h4 class="round-header">Quarter-Finals</h4>
        <h4 class="round-header">Semi-Finals</h4>
        <h4 class="round-header">Finals</h4>
        <h4 class="round-header">Champion</h4>
    </div>
    <div class="t-brackets">
        <ul class="bracket-card bracket-1">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>

        </ul>
        <ul class="bracket-card bracket-2">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
        </ul>
        <ul class="bracket-card bracket-3">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
        </ul>
        <ul class="bracket-card bracket-4">
            <li class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>
                <p class="score">0-0</p>
                <p class="teamId">TBA</p>
            </li>
        </ul>
        <ul class="bracket-card bracket-5">
            <li class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <p class="teamId">TBA</p>

            </li>
        </ul>
    </div>