@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom,
            #F2F2F2 50%,
            white 50%,
            white 80%,
            #F2F2F2 70%,
            #F2F2F2 100%);
}

.centerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

h1 {
    text-align: center;
    padding-top: 5px;
}

p {
    text-align: center;
    padding-top: 10px;
}

.button,
.button2 {
    margin-top: 20px;
    text-align: center;
}

.createButton {
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
}

.currButton {
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
}

.links {
    margin-top: 5%;
}

/* .row {
    margin-bottom: 100px;
} */

.container {
    margin-bottom: 100px;
}