<div class="container">
    <img src="../content/images/Runtime_Logo_Black.png" width="50" class="centerLogo">
    <h1>
        <%= title %>  
    </h1>
    <p>Interested in hosting your own tournament? <br>Click the button below to start
        creating your own tournament today!
    </p>
    <div class="button">
        <a href="/tournament-add">
            <button class="createButton"> Create Tournament </button>
        </a>
    </div>
    <div class="button2">
        <h3 style="text-align: center; padding-top: 50px;">Current Tournaments</h3>
        <a href="/tournament-list">
        <button class="currButton"> View Current Tournaments </button>
        </a>
    </div>
    <div class="links">
        <h5 style="text-align: center; padding-top: 100px;">LINKS</h5>
        <hr>
    </div>
</div>